<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RPG: Register form</title>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.0-canary.16/tailwind.min.css" rel="stylesheet">

        <link rel="stylesheet" href="css/main.css">
    </head>

    <body>
        <section class="flex justify-center items-center h-screen bg-gray-100">


            <img src="img/griffin-dog.png" class="absolute top-10 right-64 h-96" />

            <div class="bg-white w-max px-8 pt-8 pb-10 rounded-sm">
                <div class="mb-6">
                    <h1 class="text-3xl font-bold">The world of Aelthorn</h1>
                    <h2 class="text-yellow-900 font-bold">Welcome traveler, a long journey starts with a single step.</h2>
                </div>

                <form>
                    <input class="w-full focus:outline-none bg-gray-200 p-2 my-2 bg-yellow-100" type="text" name="username" placeholder="Username" />
                    <input class="w-full focus:outline-none bg-gray-200 p-2 my-2 bg-yellow-100" type="email" name="email" placeholder="Email" />
                    <input class="w-full focus:outline-none bg-gray-200 p-2 my-2 bg-yellow-100" type="password" name="password" placeholder="Password" />
                    <input class="w-full focus:outline-none bg-gray-200 p-2 my-2 bg-yellow-100" type="password" name="confirm-password" placeholder="Confirm your password">
                    <button class="w-full focus:outline-none p-4 bg-blue-600 text-white mt-2 hover:bg-blue-900 rounded-sm" type="button">Sign up</button>
                </form>

            </div>
        </section>



    </body>

</html>