<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page with Tailwind CSS</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../img/favicon.png" />

    <!-- Tailwind CSS -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <!-- Alpine JS -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="flex items-center justify-center h-screen bg-gray-100" style="font-family: 'Poppins';">
    <main class="flex flex-col max-w-xl rounded-t-sm shadow-md">
		<div class="px-16 pt-10 pb-16 bg-white">
			<!-- Profile -->
			<div class="flex flex-col items-center mb-4" style="margin-top: -80px;">
				<img src="../img/logo-sylent-n-square.png" title="Aunim Hassan" alt="Aunim Hassan" class="w-20 h-20 shadow-md rounded-full" />
			</div>
			<!-- Name -->
			<div class="text-center font-bold text-4xl">
				John Doe
			</div>
			<!-- Function -->
			<div class="text-center font-light text-sm mb-8 text-gray-400">
				20 Juin 1992 - Toulouse, FRANCE
			</div>
			<!-- Description -->
			<div class="text-justify text-sm">
				<p class="mb-8">
					Passionné par le web depuis plus de 10 ans, j’aime la rigueur et la créativité associées à ce métier. 
					Ayant suivi des études d’informatique au sein de l’école Exia CESI de Toulouse, 
					j’ai accumulé diverses expériences de gestion de projet et de développement web. 
				</p>
				<p>
					J’aime apprendre et enseigner ce qui me passionne. C'est pourquoi, 
					aujourd’hui je mets à profit et je transmets mon savoir-faire 
					afin de vous fournir les meilleurs outils et moyens nécessaires à la réalisation des vos projets.
				</p>
			</div>
		</div>
		<div class="">
			<img src="../img/about-banner.png" />
		</div>
    </main>
</body>
</html>