<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Card, with Tailwind CSS</title>

    <!-- Tailwind CSS -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Alpine JS -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body class="antialiased bg-gray-200" style="font-family: 'Montserrat';">
    <!-- TODO: Nice use a flexbox to center a div (login forms) -->
    <div class="flex h-screen items-center justify-center">
        <div class="flex flex-col bg-white rounded-sm overflow-hidden">
            <img src="https://picsum.photos/id/237/400/250" alt="">
            <h4 class="mx-6 mt-6 font-bold">Title</h4>
            <p class="mx-6 mb-6 text-xs">Category / Subtitle</p>
            <p></p>

        </div>
    </div>

    
</body>
</html>