<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Simple checkbox with Tailwind CSS & Alpine JS</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="../img/favicon.png" />

        <!-- Tailwind CSS -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- Alpine JS -->
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    </head>

    <body class="antialiased bg-gray-200 min-h-screen" style="font-family: 'Montserrat';">
        <div class="flex flex-col h-screen items-center justify-center">      
            <div class="bg-white p-8 shadow-md">
                <!-- Title -->
                <h1 class="text-lg font-extrabold mt-4">Simple checkbox</h1>
                <h2 class="text-sm text-gray-400 mb-8">Alpine JS & Tailwind CSS</h1>

                <!-- Remember Me -->
                <div x-data="{ checked: false }" class="mb-4">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="remember" class="hidden" x-bind:checked="checked">
                        <div class="flex cursor-pointer" @click="checked = ! checked">
                            <!-- Checkbox -->
                            <div :class="checked ? 'bg-blue-600' : 'bg-gray-200'" class="w-4 h-4 mr-3 rounded-sm"></div>
                            <span class="text-xs font-bold text-gray-600 transition duration-300 font-montserrat hover:text-gray-400 ">
                                Stay connected
                            </span>
                        </div>
                    </label>
                </div>
            </div>             
        </div>
    </body>
</html>