<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lightbox, with Tailwind CSS & AlpineJS</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="../img/favicon.png" />

        <!-- Tailwind CSS -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- Alpine JS -->
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    </head>

    <body class="antialiased bg-gray-200 min-h-screen" style="font-family: 'Montserrat';"> 

        <!-- Lightbox -->
        <div x-data="lightbox()">

            <div class="flex flex-col h-screen items-center justify-center">      
                <div class="bg-white p-8 shadow-md rounded-sm">
                    <!-- Title -->
                    <h1 class="text-lg font-extrabold">Lightbox</h1>
                    <h2 class="text-sm text-gray-400 mb-8">Alpine JS & Tailwind CSS</h1>

                    <!-- Overlay -->
                    <div class="relative w-64 cursor-pointer shadow-md"
                         @mouseover="isOverlayVisible = true"
                         @mouseover.away="isOverlayVisible = false"
                         @click="openLightbox()"
                    >
                        <!-- Image -->
                        <img src="https://picsum.photos/id/301/1024/1024" />

                        <!-- On hover, overlay -->
                        <div class="absolute top-0 left-0 bg-black bg-opacity-60 w-full h-full"
                                x-show="isOverlayVisible"
                                x-transition:enter="transition ease-out duration-300"
                                x-transition:enter-start="opacity-0"
                                x-transition:enter-end="opacity-100"
                                x-transition:leave="transition ease-in duration-200"
                                x-transition:leave-start="opacity-100"
                                x-transition:leave-end="opacity-0"
                        >
                            <!-- Overlay content -->
                            <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 text-white">
                                <div class="flex items-center justify-around">        
                                    <!-- Likes count -->
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-current w-4 h-4 mr-2">
                                        <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
                                    </svg>
                                    <div class="text-sm text-white" x-text="likesCount"></div>

                                    <!-- Comments count -->
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-current w-4 h-4 ml-6 mr-2">
                                        <path d="M12 1c-6.628 0-12 4.573-12 10.213 0 2.39.932 4.591 2.427 6.164l-2.427 5.623 7.563-2.26c9.495 2.598 16.437-3.251 16.437-9.527 0-5.64-5.372-10.213-12-10.213z"/>
                                    </svg>
                                    <div class="text-sm text-white" x-text="commentsCount()"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>             
            </div>

            <!-- On click, lightbox BG -->
            <div class="fixed top-0 left-0 flex flex-col bg-black bg-opacity-60 w-full min-h-screen z-40"
                 x-show="isLightboxVisible"
                 x-transition:enter="transition ease-in duration-300"
                 x-transition:enter-start="opacity-0"
                 x-transition:enter-end="opacity-100"
                 x-transition:leave="transition ease-out duration-200"
                 x-transition:leave-start="opacity-100 transform translate-y-0"
                 x-transition:leave-end="opacity-0 transform -translate-y-16"
            >
                <!-- Lightbox -->
                <div id="lightbox"
                     class="max-w-2xl m-auto overflow-y-auto shadow-md"
                     style="height: auto; max-height: 95vh;"
                     @click.away="closeLightbox()"
                >

                    <!-- Info bar -->
                    <div class="bg-white flex items-center justify-between p-4">
                        <!-- Author -->
                        <div class="flex items-center">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    class="h-4 w-4 fill-current text-black mr-2"
                                >
                                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7.753 18.305c-.261-.586-.789-.991-1.871-1.241-2.293-.529-4.428-.993-3.393-2.945 3.145-5.942.833-9.119-2.489-9.119-3.388 0-5.644 3.299-2.489 9.119 1.066 1.964-1.148 2.427-3.393 2.945-1.084.25-1.608.658-1.867 1.246-1.405-1.723-2.251-3.919-2.251-6.31 0-5.514 4.486-10 10-10s10 4.486 10 10c0 2.389-.845 4.583-2.247 6.305z"/>
                                </svg>
                            </div>

                            <div class="font-semibold text-xs" style="font-family: 'Poppins';">
                                sylent
                            </div>
                        </div>

                        <!-- Close -->
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" 
                                viewBox="0 0 24 24" 
                                class="h-3 w-3 fill-current text-black cursor-pointer transition duration-300 hover:text-gray-400"
                                @click="closeLightbox()"
                            >
                                <path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/>
                            </svg>
                        </div>
                    </div>

                    <!-- Image -->
                    <div>
                        <img src="https://picsum.photos/id/301/1024/1024" class="object-cover w-full" />
                    </div>

                    <!-- Likes  -->
                    <div class="bg-white flex items-center pt-4 px-4">
                        <svg xmlns="http://www.w3.org/2000/svg" 
                            viewBox="0 0 24 24"
                            class="h-4 w-4 fill-current text-black cursor-pointer"
                            title="Like"
                            @click="isLiked = true; likesCount++;"
                            x-show="! isLiked"
                        >
                            <path d="M6.28 3c3.236.001 4.973 3.491 5.72 5.031.75-1.547 2.469-5.021 5.726-5.021 2.058 0 4.274 1.309 4.274 4.182 0 3.442-4.744 7.851-10 13-5.258-5.151-10-9.559-10-13 0-2.676 1.965-4.193 4.28-4.192zm.001-2c-3.183 0-6.281 2.187-6.281 6.192 0 4.661 5.57 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-4.011-3.097-6.182-6.274-6.182-2.204 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248z"/>
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            class="h-4 w-4 fill-current text-red-500 cursor-pointer"
                            title="Dislike"
                            @click="isLiked = false; likesCount--;"
                            x-show="isLiked"
                        >
                            <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
                        </svg>
                        <div x-text="likesCount" class="text-xs font-semibold ml-2"></div>
                    </div>

                    <!-- Caption  -->
                    <div class="bg-white flex items-center pt-4 px-4">
                        <div class="text-xs text-black text-justifyé " style="font-family: Poppins;">Do good for others. It will come back in unexpected ways.</div>
                    </div>

                    <!-- Show comments link -->
                    <div class="bg-white flex items-center py-4 px-4"
                         @click="isCommentsVisible = ! isCommentsVisible"
                         x-show="comments.length"
                    >
                        <div class="text-xs text-gray-400 transtion duration-300 ease-in-out hover:text-black cursor-pointer" 
                             style="font-family: Poppins;"
                             x-text="displayCommentText()"
                        >
                        </div>
                    </div>

                    <!-- Comments -->
                    <div class="bg-white flex flex-col"
                         x-show="isCommentsVisible"
                         x-transition:enter="transition ease-in duration-200"
                         x-transition:enter-start="opacity-0 transform -translate-y-4"
                         x-transition:enter-end="opacity-100 transform translate-y-0"
                         x-transition:leave="transition ease-out duration-100"
                         x-transition:leave-start="opacity-100 transform translate-y-0"
                         x-transition:leave-end="opacity-0 transform -translate-y-8"
                    >
                        <template x-for="(comment, index) in comments" :key="comment">
                            <div class="flex items-center justify-between py-2 px-4"
                                 :class="(index % 2) ? 'bg-white' : 'bg-gray-100'"
                            >
                                <!-- Comment -->
                                <div class="flex flex-col">
                                    <div class="text-black text-xs" 
                                        style="font-family: Poppins;"
                                        x-text="comment.body"
                                    >
                                    </div>   
                                    <div class="text-gray-500" 
                                        style="font-family: Poppins; font-size:0.65rem;"
                                        x-text="comment.author"
                                    >
                                    </div>   
                                </div>

                                <!-- Action: Delete comment -->
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" 
                                         viewBox="0 0 24 24"
                                         class="h-2 w-2 fill-current text-black cursor-pointer transition duration-300 hover:text-red-500"
                                         title="Supprimer le commentaire"
                                         @click="deleteComment(comment)"
                                    >
                                        <path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/>
                                    </svg>
                                </div>
                            </div>
                        </template>
                    </div>

                    <!-- Add comment  -->
                    <div class="bg-white flex items-center" :class="(! comments.length) ? 'pt-4' : ''">
                        <form @submit.prevent="publishComment()" class="flex-1">
                            <div class="flex">
                                <input type="text" 
                                       name="comment" 
                                       placeholder="Add a comment..." 
                                       class="flex-1 text-xs rounded-sm bg-gray-200 py-2 px-4 focus:outline-none"
                                       style="font-family: Poppins;" 
                                       x-model="inputComment"
                                       x-on:input.debounce.100="isPublishButtonEnabled = (inputComment.length != 0) ? true : false;"
                                />
                                <button type="submit" 
                                        class="text-xs px-4 focus:outline-none"
                                        :class="(isPublishButtonEnabled) ? 'bg-black text-white transition duration-300 ease-in-out hover:bg-gray-600' : 'bg-gray-200 text-gray-400 cursor-not-allowed'"
                                        style="font-family: Poppins;"
                                        x-bind:disabled="! isPublishButtonEnabled"
                                >
                                    Publish
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function lightbox() {

                return {

                    isLightboxVisible: false, 
                    isOverlayVisible: false, 
                    isCommentsVisible: false,
                    isPublishButtonEnabled: false,
                    isLiked: false, 
                    likesCount: 0,
                    inputComment: '',
                    comments: [],

                    openLightbox() {
                        document.querySelector("body").style.overflow = 'hidden';
                        this.isLightboxVisible = true;
                    },
        
                    closeLightbox() {
                        this.isLightboxVisible = false; 
                        setTimeout(() => {
                            document.querySelector("body").style.overflow = 'visible';
                        }, 100);           
                    },

                    commentsCount() {
                        return this.comments.length;
                    },

                    publishComment() {
                        this.comments.push({
                            author: 'johndoe',
                            body: this.inputComment,
                            date: ''
                        });

                        this.isCommentsVisible = true;
                        this.isPublishButtonEnabled = false;
                        this.inputComment = '';
                        this.scrollToLightboxBottom();
                    },

                    scrollToLightboxBottom() {
                        setTimeout(() => {
                            let lightbox = document.querySelector("#lightbox");
                            lightbox.scrollTo({ top: lightbox.clientHeight, behavior: 'smooth' });
                        }, 100);
                    },

                    deleteComment(comment) {
                        let position = this.comments.indexOf(comment)
                        this.comments.splice(position, 1);
                    },

                    displayCommentText() {
                        let plural = (this.comments.length === 1) ? 'comment' : 'comments';
                        let linkStr = (this.isCommentsVisible) ? 'Hide ' + this.comments.length + ' ' + plural : 
                                                                 'Show ' + this.comments.length + ' ' + plural;
                        
                        return linkStr;
                    }

                }

            }
        </script>
    </body>
</html>