<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Login form with Tailwind CSS & AlpineJS</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="../img/favicon.png" />

        <!-- Tailwind CSS -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- Alpine JS -->
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    </head>

    <body class="antialiased bg-gray-200 min-h-screen" style="font-family: 'Montserrat';">
        <div class="flex justify-center items-center h-screen">
            <div class="flex-1 max-w-lg p-8 mx-2 bg-white rounded-sm shadow-md">
                <section class="pt-2 pb-4">
                    <h1 class="text-xl font-extrabold uppercase">Login</h1>
                    <p class="text-sm text-gray-400">
                        The creative adult is the child who survived.
                    </p>
                </section>

                <section class="mt-6">
                    <form class="flex flex-col" method="POST" action="#">
                        <!-- Username -->
                        <div class="pt-3 mb-6 bg-gray-100 rounded-sm">
                            <label class="block mx-3 mb-2 text-xs font-bold text-gray-700 uppercase" for="username">
                                Username
                            </label>
                            <input type="text" 
                                   id="username" 
                                   name="username" 
                                   autofocus
                                   required
                                   class="w-full px-3 pb-3 text-sm text-gray-700 transition duration-300 bg-gray-100 border-b-2 border-gray-200 rounded-sm focus:outline-none focus:border-blue-600 hover:border-blue-300"
                            />
                        </div>

                        <!-- Password -->
                        <div class="pt-3 mb-6 bg-gray-100 rounded-sm">
                            <label class="block mx-3 mb-2 text-xs font-bold text-gray-700 uppercase" for="password">
                                Password
                            </label>
                            <input type="password" 
                                   id="password" 
                                   name="password" 
                                   required
                                   class="w-full px-3 pb-3 text-sm text-gray-700 transition duration-300 bg-gray-100 border-b-2 border-gray-200 rounded-sm focus:outline-none focus:border-blue-600 hover:border-blue-300"
                            />
                        </div>

                        <div class="flex justify-between">
                            <!-- Remember Me -->
                            <div x-data="{ checked: false }" class="mb-6">
                                <label for="remember_me">
                                    <input type="checkbox" id="remember_me" name="remember" class="hidden" x-bind:checked="checked">
                                    <div class="flex cursor-pointer" @click="checked = ! checked">
                                        <!-- Checkbox -->
                                        <div :class="checked ? 'bg-blue-600' : 'bg-gray-200'" class="w-4 h-4 mr-3 rounded-sm"></div>
                                        <span class="text-xs font-bold text-gray-600 transition duration-300">
                                            Stay connected
                                        </span>
                                    </div>
                                </label>
                            </div>

                            <!-- Forgot your password -->
                            <a href="#" class="text-xs font-bold text-gray-600 transition duration-300 cursor-pointer hover:text-gray-400">
                                Forgot password?
                            </a>
                        </div>

                        <button type="submit" 
                                class="p-6 mb-4 text-sm font-bold text-white uppercase transition duration-300 bg-blue-600 rounded-sm shadow-sm focus:outline-none hover:bg-blue-900 hover:shadow-md">
                            Login
                        </button>
                    </form>
                </section>
            </div>
        </div>
    </body>

</html>