<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Upload file form with Tailwind CSS & AlpineJS</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="../img/favicon.png" />

        <!-- Tailwind CSS -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- Alpine JS -->
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    </head>

    <body class="antialiased bg-gray-200 min-h-screen" style="font-family: 'Poppins';">
        <div class="flex justify-center items-center h-screen">
            <div class="flex-1 max-w-lg p-8 mx-2 bg-white rounded-sm shadow-md">
                <section class="pt-2 pb-4">
                    <h1 class="text-xl font-extrabold">File upload</h1>
                    <p class="text-sm text-gray-400">
                        The creative adult is the child who survived.
                    </p>
                </section>

                <section class="mt-6">
                    <form class="flex flex-col" 
                          method="POST" 
                          action="#" 
                          enctype="multipart/form-data"
                    >      
                        <!-- Upload your avatar -->
                        <div x-data="{ state: 'Aucun fichier pour le moment...' }" 
                             class="pt-3 mb-6 bg-gray-100 rounded-sm"
                        >
                            <label class="block mx-3 mb-2 text-xs font-bold text-gray-700" for="avatar">
                                Avatar
                            </label>

                            <button type="button" 
                                    class="bg-gray-200 hover:bg-gray-300 p-3 text-sm text-gray-600 focus:outline-none hover:text-gray-800 transition duration-300 ease-in-out"
                                    @click="document.getElementById('avatar').click();"
                            >
                                Choisir un avatar
                            </button>
                            <span class="text-sm text-gray-400 ml-3" x-text="state"></span>

                            <input type="file" 
                                   id="avatar" 
                                   name="avatar" 
                                   hidden
                                   @change="state = document.getElementById('avatar').value.split('\\').slice(-1)[0]"
                            />
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </body>
</html>